@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
  margin: 0 auto;
}

p {
  font-size: 18px;
  line-height: 22px;
}

.balloon {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.paperlantern {
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}
/* 回答はここに書いてね */
