@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  width: 940px;
  margin: 0 auto;
  background-color: #eff3f4;
  padding: 20px;
}

.box1,.box2,.box3 {
  padding: 20px;
  margin-left: 20px;
  background-color: #3274ae;
  float: left;
  width: 230px;
}

.textbox:first-child {
  margin-left: 0;
}

.text1,.text2,.text3 {
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  border: 10px solid #022336;
  background-color: #eaf4ff;
  }
/* 回答はここに書いてね */
