@charset "UTF-8";

/* 回答はここに書いてね */
.table {
  width: 100%;
  table-layout: fixed;
}

.table,
.table th,
.table td {
  border: 1px solid #dedede;
}

.table th {
  font-size: 18px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2244aa;
  color: #ffffff;
}

.table td {
  font-size: 16px;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.tbody tr:nth-child(even) td:nth-child(n+2) {
  background-color: #ecf1f2;
}

.tbody tr:last-child {
  border-top: 2px dashed #000; 
}
/* 回答はここに書いてね */
